<h1>Welcome!</h1>
<p>This is a simple Angular 4 project made by Alessandro Gomez</p>
<p>I challenge you to take my course, and make a module called student, then make all components proposed by the Course.</p>
<p>In case you got lost, you can use the course module as a guide.</p>
<br>
<p><a routerLink="/binding"  routerLinkActive="active" href="/binding">Template Binding</a></p>
<p><a routerLink="/directives" routerLinkActive="active" href="/directives">Directives</a></p>
<p><a routerLink="/event" routerLinkActive="active" href="/event">Events</a></p>
<p><a routerLink="/input-output" routerLinkActive="active" href="/input-output">Input and Output</a></p>
<p><a routerLink="/service" routerLinkActive="active" href="/service">Services</a></p>